$body-bg:				#ecf0f1;
$navbar-default-bg: #3498db;
$navbar-default-link-color: #ecf0f1;
$brand-primary: #c0392b;
$jumbotron-bg: #bdc3c7;
@import 'bootstrap';

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
